 body {
   background-color: #ddd1e7;
 }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding-bottom: 50px;
  color: #2c3e50;

  .page-head {
    background-color: #aa8cc5;
    color: #fff;
    .navigation {
      width: 38%;
      margin: 10px auto;
      background-color: #DB7093;
      border: none;

      a {
        color: #fff;
        font-weight: 700;
      }

      .active {
        a {
          color: #000;
          background-color: #F08080;
        }

      }
    }
  }

  .hello-world {
    background-color: #d3d3d3;
  }

  .chart-view {
    width: 70%;
    margin: 20px auto;

    .chart {
      max-width: 600px;
      margin:  50px auto;
    }
    .map, .table-div {
      margin-top: 100px;
      width: 100%;
    }
  }
  .calender-container {
    background-color: tan;
    .calendar {
      margin: 50px;
    }
  }
}
