<div class="chart-view">
  <div class="small chart">
    <h1>Chart</h1>
    <line-chart :chart-data="dataCollection"></line-chart>
  </div>
  <hr />
  <div class="map">
    <h1>Map</h1>
    <label>
          <gmap-autocomplete
            @place_changed="setPlace">
          </gmap-autocomplete>
          <button @click="addMarker">Add</button>
        </label>
      <br/>
    <gmap-map :center="center" :zoom="7" style="width: 100%; height: 500px">
      <gmap-marker :key="index" v-for="(m, index) in markers" :position="m.position" :clickable="true" :draggable="true" @click="center=m.position"></gmap-marker>
    </gmap-map>
  </div>
  <hr />
  <div class=table-div>
    <h1>Table</h1>
    <form id="search">
      Search
      <input name="query" v-model="searchQuery">
    </form>
    <data-table :data="gridData" :columns-to-display="gridColumns" :filter-key="searchQuery" :display-names="displayNames" :child-hideable="true" :child-init-hide="true" :columns-to-not-sort="['action']">
      <template slot="first_name" scope="props">
        <b>{{props.entry.first_name}}</b>
        <br />
      </template>
      <template slot="action" scope="props">
        <button @click="showCount(props.entry.WORD_COUNT)" class="btn btn-warning">Show Count</button>
      </template>
    </data-table>
  </div>
</div>
