<div class="login-page">
  <div class="form">
    <form class="login-form">
      <div style="width:100px">
      <facebook-login class="button"
      appId="189529648500731"
      @login="onLogin"
      @logout="onLogout"
      @get-initial-status="getUserData" @sdk-loaded="sdkLoaded">
    </facebook-login>
  </div>
      <!-- <fb-signin-button :params="fbSignInParams" @success="onSignInSuccess" @error="onSignInError"><img src="../assets/fb.png" height="50" width="50" />Sign in with Facebook</fb-signin-button> -->
      <input type="text" placeholder="username" v-model="userName"/>
      <input type="password" placeholder="password" v-model="pass"/>
      <button  class="login-btn" @click.prevent="login">login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
  </div>
</div>
